.questionContainer {
    @apply
    flex
    flex-col
    min-h-screen;
}

.optionsContainer {
    @apply
    flex
    flex-col
    gap-[1.9rem]
    justify-center
    items-center
    mx-auto
    mt-[3.4rem]
    md:mt-[5rem];
}

.dummyContainer {
    @apply
    block
    grow;
}

.continueButtonDisabled {
    @apply
    opacity-50 
    bg-neutral-500
    cursor-not-allowed  
    w-[335px] 
    h-[60px] 
    relative 
    mx-auto 
    md:hidden;
}

.continueButtonEnabled {
    @apply
    bg-green-500
    hover:cursor-pointer
    w-[335px] 
    h-[60px] 
    relative 
    mx-auto 
    mt-[9.2rem]
    md:hidden;
}

.progressBarContainer {
    @apply
    w-[335px] 
    h-5 
    relative 
    mx-auto 
    mt-[1.75rem]
    md:hidden;
}

.footerContainer {
    @apply
    hidden
    md:flex
    md:justify-center
    md:items-center
    md:gap-[5rem]
    md:w-screen
    md:h-[100px] 
    md:bg-zinc-100
    md:px-[23.4rem]
    lg:gap-[13.1rem];
}

/* .progressBarContainerMediumScreen {
    @apply
    w-[335px] 
    md:h-5 
    md:relative;
} */

.continueButtonMediumScreenEnabled {
    @apply
    md:flex
    md:justify-center
    md:items-center
    md:bg-green-500
    md:text-stone-200
    md:text-base 
    md:font-semibold 
    md:leading-tight
    md:rounded-lg
    md:hover:cursor-pointer
    md:px-[77px]
    md:py-[20px];
}

.continueButtonMediumScreenDisabled {
    @apply
    md:flex
    md:justify-center
    md:items-center
    md:opacity-50 
    md:bg-neutral-500
    md:cursor-not-allowed 
    md:rounded-lg
    md:text-stone-200 
    md:text-base 
    md:font-semibold 
    md:leading-tight
    md:px-[77px]
    md:py-[20px];
}

.selectedOption {
    @apply
    bg-green-400
    text-zinc-100;
}
